body.home-intro {
  width: 100%;
  display: table;

  .intro {
    display: table-cell;
  }
}

.intro {
  text-align: center;
  vertical-align: middle;
  position: relative;
  padding: 0 $base-spacing;
  text-align: center;
  color: $lighter-gray-color;
  overflow: hidden;
}

.intro-in {
  z-index: 2;
  position: relative;
  text-align: center;
  display: inline-block;
  max-width: $desktop-width;
  margin: auto;
  width: 100%;
  padding: 4em 2em;

  @include media($min-tablet) {
    padding: 6em 0;
  }

  @include media($min-tablet-large) {
    padding: 9em 0;
  }
}

.intro-title,
.post-header .post-title {
  font-size: 2.6rem;
  margin: 0 0 20px;
  color: $white-color;
  font-weight: $font-weight-light;

  @include media($min-tablet) {
    font-size: 3rem;
  }

  @include media($min-tablet-large) {
    font-size: 3.6rem;
  }

  @include media($min-desktop-large) {
    font-size: 4rem;
  }
}

.intro-subtitle {
  margin-bottom: $small-spacing;
  font-size: 1.2em;
  font-family: $serif-font-family;
  font-weight: $font-weight-normal;
  font-style: italic;

  @include media($min-tablet-large) {
    font-size: 1.6rem;
  }
}

button.btn_purple{
 background-color: #ae81ff;
 padding: 10px 40px;
 &:hover{
   background-color: darken(#ae81ff, 5%);
 }
}

#nan{
  opacity: 0;
  font-size: 14pt;
  font-weight: 800;
}

#footer{
  z-index: 10;
  background-color: gray;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  box-sizing: border-box;
  padding: 10px;

  a{
    color: #222;
    text-decoration: none;
    &:hover {
      color: darken(#222, 10%);
    }
  }

  .authors{
    float: right;
    a{
      color: #f7ff00;
      text-decoration: none;
      &:hover {
        color: #001548;
      }
    }
  }
}

#bottles{
  &>div{
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
}

#bottles, #entry_message {
  display: none;
}

#entry_message{
  height: 2em;
}

#your_bottle_label, #actual_bottle_label{
  transition: all 1s ease;
  opacity: 0;
}

.slider_section{
  display: flex;
  align-items: baseline;
  justify-content: center;
}


// Media Queries

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {

  #reveal{
    font-size: 1.5rem;
  }

  .main_heading{
    font-size: 3rem;
  }

  .slider_ends{
    font-size: 2rem;
  }
}

@media (max-width: $breakpoint-tablet) {

  .intro-in{
    padding: 1.5em 0;
  }

  #footer{
    font-size: 0.7rem;
  }

  #reveal{
    font-size: 1rem;
  }

  .main_heading{
    font-size: 2rem;
  }
  .slider_ends{
    font-size: 1rem;
  }
}
